In [1]:
# %pip install sqlalchemy En caso de ser necesario, ejecutar
# %pip install --user psycopg2 En caso de ser necesario, ejecutar
# %pip install numpy En caso de ser necesario, ejecutar
# %pip install pandas En caso de ser necesario, ejecutar

In [9]:
import yaml
import pandas as pd
from sqlalchemy import create_engine

In [10]:
with open('config.yaml') as f:
    config = yaml.safe_load(f)
    configFuente = config['fuente']
    configBodega = config['bodega']

urlFuente = f'{configFuente['driver']}://{configFuente['user']}:{configFuente['password']}@{configFuente['host']}:{configFuente['port']}/{configFuente['db']}'
urlBodega = f'{configBodega['driver']}://{configBodega['user']}:{configBodega['password']}@{configBodega['host']}:{configBodega['port']}/{configBodega['db']}'

src = create_engine(urlFuente)
etl = create_engine(urlBodega)

In [11]:
hora = pd.DataFrame({'hora': pd.date_range('2024-01-01', '2024-01-01 23:59', freq="T")})
hora['key_dim_hora'] = range(1, len(hora) + 1)
hora['horas'] = hora['hora'].dt.hour
hora['minutos'] = hora['hora'].dt.minute
hora['hora'] = hora['hora'].dt.time

hora

C:\Users\alejo\AppData\Local\Temp\ipykernel_9692\1387622990.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  hora = pd.DataFrame({'hora': pd.date_range('2024-01-01', '2024-01-01 23:59', freq="T")})

          hora  key_dim_hora  horas  minutos
0     00:00:00             1      0        0
1     00:01:00             2      0        1
2     00:02:00             3      0        2
3     00:03:00             4      0        3
4     00:04:00             5      0        4
...        ...           ...    ...      ...
1435  23:55:00          1436     23       55
1436  23:56:00          1437     23       56
1437  23:57:00          1438     23       57
1438  23:58:00          1439     23       58
1439  23:59:00          1440     23       59

[1440 rows x 4 columns]

In [13]:
hora.to_sql('dim_hora', etl, index_label='key_dim_hora', index=False,  if_exists='replace')

440